<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

  <h1>Ruby On Rails Blog Post</h1>

    <div>
      <%= link_to "Home", root_path %>
      <br>
      <br>
      <%= link_to "New Post", new_post_path %>
    </div>

    <%= yield %>

  </body>
</html>
